<div class="container">
  <header>
    <h1><app-content [allowEdit]="false" configName="title" ></app-content></h1>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th><app-content [allowEdit]="false" configName="key" ></app-content></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><app-content [allowEdit]="true" configName="test" ></app-content></td>
      </tr>
      <tr>
        <td><app-content [allowEdit]="false" configName="dummy" ></app-content></td>
      </tr>
    </tbody>
  </table>

  <footer>
    <p><app-content [allowEdit]="true" configName="footer" ></app-content></p>
  </footer>
</div>
